./analyses/logs/_trimming.log
./analyses/logs/_trimming.err
./analyses/logs/_trimming.log
./analyses/logs/_trimming.err
./analyses/logs/_trimming.log
./analyses/logs/_trimming.err
./analyses/logs/_trimming.log
./analyses/logs/_trimming.err
./analyses/logs/quant.log
./analyses/logs/quant.err
./analyses/logs/fastqc_error.log
./analyses/logs/fastqc_output.log
./analyses/logs/condition1_rep1.err
./analyses/logs/condition1_rep1.log
./analyses/logs/condition1_rep2.log
./analyses/logs/condition1_rep2.err
./analyses/qc/
./analyses/logs/
./analyses/quant/
./analyses/trimming/
./resultats/.ipynb_checkpoints/
